@charset "UTF-8";

@media screen and (min-width: 600px) {
  body {
    background-image: url('../images/pattern-background-desktop.svg');
    background-color: var(--paleblue);
    background-size: contain;
  }

  .container {
    width: 395px;
    height: 610px;
  }

  .illustration {
    width: 395px;
    height: 195px;
  }

  .brand-header {
    margin-top: -5px;
  }

  .brand-title {
    font-size: 25px;
  }

  .brand-pitch {
    margin-top: 10px;
  }
}
