@charset "UTF-8";

@media screen and (min-width: 600px) {
  body {
    background-image: url('../images/pattern-background-desktop.svg');
    background-color: var(--paleblue);
    background-size: contain;
  }

  .container {
    width: 395px;
    height: 610px;
  }

  .illustration {
    width: 395px;
    height: 195px;
  }

  .brand-plan {
    margin-left: 40px;
    width: 310px;
  }

  .brand-plan > img {
    width: 45px;
    height: 45px;
    margin-right: -65px;
  }

  .brand-header {
    margin-top: 1px;
  }

  .brand-title {
    font-size: 25px;
  }

  .brand-pitch {
    margin-top: 10px;
    font-size: 15px;
  }

  .brand-payment-confirm {
    margin-left: 20px;
    width: 310px;
    height: 45px;
    font-size: 14px;
  }

  .brand-payment-cancel {
    margin-top: 20px;
    margin-left: 20px;
    width: 310px;
    height: 45px;
    font-size: 14px;
  }
}
