@charset "UTF-8";

@media screen and (min-width: 600px) {
  body {
    background-image: url('../images/bg-desktop.svg');
  }

  .container {
    width: 1440px;
    padding: 55px 75px;
  }

  .container-images {
    display: inline-block;
    width: 690px;
  }

  .container-text {
    display: inline-block;
    width: 525px;
    vertical-align: top;
    margin: 180px 0 0 60px;
  }

  .container-images img:nth-child(1) {
    display: block;
    width: 30%;
    margin-bottom: 95px;
  }
  
  .container-images img:nth-child(2) {
    display: block;
    width: 100%;
  }

  .title {
    text-align: left;
    font-size: 40px;
    margin-bottom: 20px;
  }

  .description {
    text-align: left;
    font-size: 17px;
    margin-bottom: 25px;
  }

  .button {
    margin: 0;
    justify-content: flex-start;
    height: 60px;
    width: 40%;
    font-size: 20px;
  }

  .social {
    margin-top: 100px;
    justify-content: flex-end;
    vertical-align: bottom;
    gap: 20px;
  }

  .social img {
    width: 7%;
  }

}