@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
  --violet: hsl(257, 40%, 49%);
  --magenta: hsl(300, 69%, 71%);
}

body {
  background-color: var(--violet);
  background-image: url('../images/bg-mobile.svg');
  background-repeat: no-repeat;
  background-size: contain;
}

.container {
  width: 375px;
  padding: 35px;
  display: block;
  margin: auto;
}

.container-images img:nth-child(1) {
  width: 40%;
  margin-bottom: 50px;
}

.container-images img:nth-child(2) {
  width: 100%;
  margin-bottom: 45px;
}

.title {
  color: #fff;
  font-size: 23px;
  text-align: center;
  margin-bottom: 10px;
}

.description {
  color: #fff;
  font-size: 15px;
  text-align: center;
  margin-bottom: 20px;
}

.button {
  display: block;
  margin: auto;
  font-size: 12px;
  color: var(--violet);
  width: 65%;
  height: 40px;
  border-radius: 30px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.button:hover {
  background-color: var(--magenta);
  color: #fff;
}

.social {
  padding-top: 55px;
  display: flex;
  margin: auto;
  justify-content: center;
  gap: 10px;
  opacity: 1;
}

.social img {
  width: 10%;
}

.social img:hover {
  opacity: .5;
}
