@media screen and (min-width: 768px) {

  div.container {
    width: 1440px;
    height: 800px;
    background-image: url('../images/bg-pattern-desktop.svg');
    background-repeat: repeat-x;
    background-size: cover;
  }

  section.main {
    width: 100%;
    padding-left: 140px;
    padding-top: 120px;
  }

  section.main > img:first-of-type {
    margin-bottom: 100px;
    height: 35px;
  }

  aside.image {
    margin-top: -165px;
    display: flex;
    width: 610px;
    height: 800px;
    float: right;
    background-image: url('../images/hero-desktop.jpg');
    background-repeat: no-repeat;
  }

  div.card-text {
    width: 50%;
  }

  h1.page-title, span, p.page-desc {
    text-align: left;
  }

  h1.page-title {
    font-size: 4rem;
    line-height: 4.5rem;
    letter-spacing: 1rem;
  }

  p.page-desc {
    font-size: 1rem;
    padding-right: 130px;
    line-height: 1.7rem;
  }

  form {
    width: 75%;
  }
  
  button[type=submit] {
    height: 60px;
    width: 115px;
  }

  div.btn-overlay {
    margin-top: -60px;
  }

  input[type=text] {
    height: 60px;
    padding: 25px 40px;
    background-color: transparent;
  }

  input[type=text]::placeholder {
    font-size: 1rem;
  }
}

