@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

:root {
--blue: hsl(246, 80%, 60%);
--lightred-work: hsl(15, 100%, 70%);
--lightred-study: hsl(348, 100%, 68%);
--limegreen-exercise: hsl(145, 58%, 55%);
--softblue-play: hsl(195, 74%, 62%);
--softorange-selfcare: hsl(43, 84%, 65%);
--violet-social: hsl(264, 64%, 52%);

--verydarkblue: hsl(226, 43%, 10%);
--darkblue: hsl(235, 46%, 20%);
--desaturatedblue: hsl(235, 45%, 61%);
--paleblue: hsl(236, 100%, 87%);
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}

html {
  width: 375px;
  display: flex;
  margin: auto;
}

body {
  background-color: var(--verydarkblue);
  width: 100%;
}

div.container {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 80px 25px;
  gap: 25px;
}

div.container__main-card {
  background-color: var(--darkblue);
  border-radius: 15px;
}

div.container__sub-cards {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

div.main-card__header {
  background-color: var(--blue);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px;
  border-radius: 15px;
}

div.header-image img {
  width: 70px;
  border: 3px solid white;
  border-radius: 50%;
}

div.main-card__header div.header-info {
  display: flex;
  flex-direction: column;
  font-weight: 300;
  gap: 5px;
}

div.main-card__header div.header-info span {
  font-size: 1rem;
  color: white;
  opacity: .7;
}

div.main-card__header div.header-info span.header-user {
  font-size: 1.5rem;
  opacity: 1;
}

div.main-card__period {
  padding: 25px;
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
  font-weight: 300;
}

div.main-card__period span.period-time {
  color: var(--desaturatedblue)
}

div.main-card__period span.period-time:hover {
  color: var(--paleblue);
}

div.main-card__period span.period-time:nth-of-type(2) {
  color: white;
}

div.card-type {
  padding-top: 40px;
  border-radius: 15px;
  background-repeat: no-repeat; 
  background-position-x: 95%;
  background-position-y: -12%;
}

.work { 
  background-color: var(--lightred-work);
  background-image: url('../images/icon-work.svg');
}

.play {  
  background-color: var(--softblue-play);
  background-image: url('../images/icon-play.svg') }

.study { 
  background-color: var(--lightred-study);
  background-image: url('../images/icon-study.svg');
 }

.exercise { 
  background-color: var(--limegreen-exercise);
  background-image: url('../images/icon-exercise.svg');
}

.social { 
  background-color: var(--violet-social);
  background-image: url('../images/icon-social.svg');
 }

.self { 
  background-color: var( --softorange-selfcare); 
  background-image: url('../images/icon-self-care.svg');
}

div.card-info {
  background-color: var(--darkblue);
  color: white;
  border-radius: 16px;
  padding: 30px 25px;
}

div.card-header, div.card-stats {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 300;
}

div.card-header span.card-more, div.card-stats span.previous {
  color: var(--paleblue);
}

div.card-header h2.card-title {
  font-size: 1.125rem;
  font-weight: 500;
}

div.card-header span.card-more {
  font-size: 1.5rem;
}

div.card-header {
  margin-bottom: 10px;
}

div.card-stats span.current {
  font-size: 1.875rem;
}

.display {
  display: none !important;
}

div.card-header span.card-more:hover {
  color: white;
  cursor: pointer;
}

span.period-time:hover {
  cursor: pointer;
}

div.card-info:hover {
  background-color: hsl(236, 48%, 30%);
  cursor: pointer;
}