<h1>Cadastre o livro:</h1>

<form action="/books/insertbook" method="POST" class="form">
<div class="form-control">
  <label for="title">Título:</label>
  <input type="text" name="title" id="title" placeholder="Digite o título">
</div>
<div class="form-control">
  <label for="n_pages">Páginas:</label>
  <input type="number" name="n_pages" id="n_pages" placeholder="Digite a qtd de páginas">
</div>
<input type="submit" value="Enviar">
</form>
