@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Outfit', sans-serif;
}

:root {
  --softblue: hsl(215, 51%, 70%);
  --cyan: hsl(178, 100%, 50%);
  --mainblue: hsl(217, 54%, 11%);
  --bgblue: hsl(216, 50%, 16%);
  --lineblue: hsl(215, 32%, 27%);
  --white: hsl(0, 0%, 100%);
}

body {
  background-color: var(--mainblue);
}

.container {
  background-color: var(--bgblue);
  margin: auto;
  margin-top: 50px;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 600px;
  border-radius: 15px;
  box-shadow: 0px 30px 10px 15px #091629;
}

.nft-image-background {
  position: absolute;
  background-color: var(--cyan);
  margin: 25px 25px 20px 25px;
  width: 300px;
  height: 300px;
  border-radius: 9px;
}
.nft-image {
  position: relative;
  margin: 25px 25px 20px 25px;
  width: 300px;
  height: 300px;
  border-radius: 7px;
}

.nft-id {
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 15px;
  font-size: 22px;
  color: var(--white);
  font-weight: bold;
}

.nft-description {
  margin-left: 25px;
  margin-right: 25px;
  font-size: 18px;
  color: var(--softblue);
  line-height: 25px;
  font-weight: lighter;
}

.nft-stats {
  margin-left: 25px;
  margin-right: 25px;
  display: flex;
  height: 70px;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.nft-stats > img {
  display: inline-block;
}

.nft-stats-price {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
}

.nft-price {
  display: inline-block;
  font-size: 16px;
  color: var(--cyan);
}

.nft-stats-deadline {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
}

.nft-deadline {
  display: inline-block;
  color: var(--softblue);
}

hr {
  margin-top: -2px;
  width: 300px;
  margin-left: 25px;
  height: 0px;
  border: none;
  border-top: 1px solid var(--lineblue);
}

.creator-info {
  margin-top: 15px;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 25px;
  display: flex;
  align-items: center;
  gap: 15px;
  color: var(--softblue);
}

.nft-creator-photo {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 1px solid white;
}

strong {
  color: white;
  font-weight: normal;
}

.nft-id:hover {
  color: var(--cyan);
  cursor: pointer;
}

strong:hover {
  color: var(--cyan);
  font-weight: normal;
  cursor: pointer;
}

.nft-image:hover {
  opacity: 0.5;
  cursor: pointer;
}
