@media (max-width: 430px) {
  .container {
    display: block;
    justify-content: center;
    align-items: center;
    width: 345px;
    height: 610px;
  }

  .container .product-image {
    background-image: url('../images/image-product-mobile.jpg');
    background-size: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0px;
    filter: brightness(90%);
    filter: saturate(120%);
    width: 345px;
    height: 240px;
  }

  .container .product-info {
    width: 102%;
    margin: 25px -5px 25px -15px;
  }

  /* .container .product-info .brand {
    font-family: 'Fraunces', sans-serif;
    margin: 0px 35px 25px 35px;
    letter-spacing: 0px;
    font-size: 32px;
    line-height: 32px;
  }
  
  .container .product-info .type {
    color: var(--grayishblue);
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: lighter;
    margin: 0px 0px 25px 33px;
    font-size: 12px;
  }
  
  .container .product-info .description {
    color: var(--grayishblue);
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
    margin: 0px 20px 15px 35px;
    line-height: 23px;
  }
  
  .product-purchase {
    display: flex;
    text-align: center;
    align-items: center;
    margin: 10px 0px 25px 35px;
  }
  
  .product-purchase .newprice {
    color: var(--darkcyan);
    font-family: 'Fraunces', sans-serif;
    font-size: 32px;
    margin: 0px 0px 0px 0px;
  }
  
  .product-purchase .realprice {
    text-decoration: line-through;
    font-family: 'Montserrat', sans-serif;
    color: var(--grayishblue);
    margin: 0px 0px 0px 20px;
    font-size: 13px;
  }
   */
}
