@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap');

@font-face {
  font-family: 'Fraunces', serif;
  src: url('https://fonts.google.com/specimen/Fraunces');
  font-family: 'Montserrat', sans-serif;
  src: url('https://fonts.google.com/specimen/Montserrat');
}

* {
  margin: 0px;
  padding: 00px;
  font-size: 14px;
}

:root {
  --cream: hsl(30, 38%, 92%);
  --darkcyan: hsl(158, 36%, 37%);
  --darkblue: hsl(212, 21%, 14%);
  --white: hsl(0, 0%, 100%);
  --grayishblue: hsl(228, 12%, 48%);
}

body {
  background-color: var(--cream);
}

.container {
  display: flex;
  margin: auto;
  background-color: var(--white);
  width: 600px;
  height: 450px;
  margin-top: 175px;
  border-radius: 10px;
}

.container .product-image {
  width: 300px;
  height: 450px;
  background-image: url('../images/image-product-desktop.jpg');
  background-size: cover;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  filter: brightness(90%);
  filter: saturate(120%);
}

.container .product-info {
  align-items: center;
  justify-content: space-between;
  width: 300px;
  height: 450px;
  margin-top: 30px;
}

.container .product-info .brand {
  font-family: 'Fraunces', sans-serif;
  margin: 0px 35px 25px 35px;
  letter-spacing: 0px;
  font-size: 32px;
  line-height: 32px;
}

.container .product-info .type {
  color: var(--grayishblue);
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: lighter;
  margin: 0px 0px 25px 33px;
  font-size: 12px;
}

.container .product-info .description {
  color: var(--grayishblue);
  font-family: 'Montserrat', sans-serif;
  display: inline-block;
  margin: 0px 20px 15px 35px;
  line-height: 23px;
}

.product-purchase {
  display: flex;
  text-align: center;
  align-items: center;
  margin: 10px 0px 25px 35px;
}

.product-purchase .newprice {
  color: var(--darkcyan);
  font-family: 'Fraunces', sans-serif;
  font-size: 32px;
  margin: 0px 0px 0px 0px;
}

.product-purchase .realprice {
  text-decoration: line-through;
  font-family: 'Montserrat', sans-serif;
  color: var(--grayishblue);
  margin: 0px 0px 0px 20px;
  font-size: 13px;
}


.button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--darkcyan);
  width: 240px;
  height: 50px;
  border-radius: 10px;
  color: var(--white);
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  border: 0px;
  margin: 0px 0px 35px 35px;
  gap: 10px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
