<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <h1>Criar um user</h1>
    <form action="/users/save" method="POST">
      <input type="text" name="name" id="name" placeholder="Nome" />
      <input type="number" name="age" id="age" placeholder="Idade" />
      <input type="submit" value="Enviar" />
    </form>
  </body>
</html>
